body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url("wooden-boards.jpg");
    background-repeat: cover;
}

.center{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    position: relative;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    width: 400px;
    height: 320px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    /* margin: 0 auto; */
    /* margin-top: 30px; */
    background: #4A8080;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div--top{
    /* border-bottom: 1px solid #fff; */
    padding-top: 1px;
    background: #6FBFBF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
}
.wide{
    background-size: cover;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
}
.div--bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
#btn--1{
    padding: 10px 20px;
    margin-bottom: 30px;
    background: #f9c046;
    background: #4A8080;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    border-style: none;
}
#btn--1:hover{
    cursor: pointer;
}
#btn--2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 30px;
    background: #fff;
    margin-left: 35px;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    border: none;
    text-align: center;
}
#btn--3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 30px;
    background: #fff;
    margin-right: 35px;
    border-radius: 5px;
    font-size: 14px; 
    color: #000;
    border: none;
    text-align: center;
    cursor: pointer;
}
#btn--3::after{
    border: none;
}
h1{
    color: #fff;
    margin-bottom: 0px;
    font-weight: bold;
    text-shadow: .5px .5px #000;
}
span{
    color: #3B6666;
}
/* textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
    height: 10px;
    background: red;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
